<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AvatarDefault.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{910,376},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spr_A_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,559}</string>
                <key>spriteSourceSize</key>
                <string>{482,559}</string>
                <key>textureRect</key>
                <string>{{1,1},{482,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spr_J_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,440}</string>
                <key>spriteSourceSize</key>
                <string>{342,440}</string>
                <key>textureRect</key>
                <string>{{1,562},{342,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_CollectChips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,114}</string>
                <key>spriteSourceSize</key>
                <string>{358,114}</string>
                <key>textureRect</key>
                <string>{{345,832},{358,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_CollectChips_deactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,114}</string>
                <key>spriteSourceSize</key>
                <string>{358,114}</string>
                <key>textureRect</key>
                <string>{{485,260},{358,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_DailyBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,137}</string>
                <key>spriteSourceSize</key>
                <string>{121,137}</string>
                <key>textureRect</key>
                <string>{{988,247},{121,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_GetChips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,114}</string>
                <key>spriteSourceSize</key>
                <string>{358,114}</string>
                <key>textureRect</key>
                <string>{{708,1},{358,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ads.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,127}</string>
                <key>spriteSourceSize</key>
                <string>{141,127}</string>
                <key>textureRect</key>
                <string>{{845,247},{141,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{992,782},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,151}</string>
                <key>spriteSourceSize</key>
                <string>{133,151}</string>
                <key>textureRect</key>
                <string>{{967,974},{133,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{148,108}</string>
                <key>textureRect</key>
                <string>{{705,827},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_miniPoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{965,544},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,156}</string>
                <key>spriteSourceSize</key>
                <string>{135,156}</string>
                <key>textureRect</key>
                <string>{{855,816},{135,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_toogle_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,100}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{696,376},{212,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,150}</string>
                <key>spriteSourceSize</key>
                <string>{147,150}</string>
                <key>textureRect</key>
                <string>{{816,547},{147,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_black_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1019,1127},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_blue_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1071,1127},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_dark_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1013,472},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_green_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1065,472},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_orange_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1127,207},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1127,259},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_red_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1127,311},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{809,937},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white_gradient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{156,1174},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white_radius_conners.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1102,971},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{816,699},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{98,80}</string>
                <key>textureRect</key>
                <string>{{1102,782},{98,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{1115,107},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{1114,370},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{98,80}</string>
                <key>textureRect</key>
                <string>{{992,882},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_audioOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{741,750},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_audioOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{807,750},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_exitRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{881,478},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{947,478},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{821,1131},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{887,1131},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sync.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{953,1131},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,150}</string>
                <key>spriteSourceSize</key>
                <string>{144,150}</string>
                <key>textureRect</key>
                <string>{{821,979},{144,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_Avatar_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1012,370},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_Avatar_Frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,268}</string>
                <key>spriteSourceSize</key>
                <string>{267,268}</string>
                <key>textureRect</key>
                <string>{{345,562},{267,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_FrameContent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,41}</string>
                <key>textureRect</key>
                <string>{{735,937},{72,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_FrameRedShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1099,524},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_Frame_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,104}</string>
                <key>textureRect</key>
                <string>{{1068,1},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,116}</string>
                <key>spriteSourceSize</key>
                <string>{209,116}</string>
                <key>textureRect</key>
                <string>{{485,376},{209,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_Ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,96}</string>
                <key>spriteSourceSize</key>
                <string>{282,96}</string>
                <key>textureRect</key>
                <string>{{708,117},{282,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_BG_Button_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,121}</string>
                <key>spriteSourceSize</key>
                <string>{80,121}</string>
                <key>textureRect</key>
                <string>{{992,117},{80,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_UI_BG_Frame_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,168}</string>
                <key>textureRect</key>
                <string>{{1,1004},{400,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_BG_Frame_menu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,168}</string>
                <key>spriteSourceSize</key>
                <string>{30,168}</string>
                <key>textureRect</key>
                <string>{{708,215},{30,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_UI_BG_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,75}</string>
                <key>spriteSourceSize</key>
                <string>{125,75}</string>
                <key>textureRect</key>
                <string>{{614,750},{125,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_BG_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1117,470},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_BG_square_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{1092,882},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_Red_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,33}</string>
                <key>spriteSourceSize</key>
                <string>{388,33}</string>
                <key>textureRect</key>
                <string>{{345,948},{388,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_bg_blue_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,114}</string>
                <key>spriteSourceSize</key>
                <string>{10,114}</string>
                <key>textureRect</key>
                <string>{{1,1174},{10,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_UI_highline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{671,494},{40,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_UI_layer_gradient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,257}</string>
                <key>spriteSourceSize</key>
                <string>{221,257}</string>
                <key>textureRect</key>
                <string>{{485,1},{221,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_line_shadow_horizontal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,5}</string>
                <key>spriteSourceSize</key>
                <string>{153,5}</string>
                <key>textureRect</key>
                <string>{{1,1186},{153,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_UI_line_shadow_vertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,153}</string>
                <key>spriteSourceSize</key>
                <string>{5,153}</string>
                <key>textureRect</key>
                <string>{{1,1193},{5,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,202}</string>
                <key>spriteSourceSize</key>
                <string>{204,202}</string>
                <key>textureRect</key>
                <string>{{617,983},{204,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_loading_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{873,699},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_progress_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,30}</string>
                <key>spriteSourceSize</key>
                <string>{125,30}</string>
                <key>textureRect</key>
                <string>{{878,215},{125,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_rank_1st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,67}</string>
                <key>spriteSourceSize</key>
                <string>{96,67}</string>
                <key>textureRect</key>
                <string>{{783,478},{96,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_rank_2nd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{93,61}</string>
                <key>textureRect</key>
                <string>{{485,494},{93,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_rank_3rd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,52}</string>
                <key>spriteSourceSize</key>
                <string>{89,52}</string>
                <key>textureRect</key>
                <string>{{580,494},{89,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_rank_frame_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{975,680},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_rank_frame_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1077,680},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_wheel_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{614,548},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_wheel_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{212,212}</string>
                <key>textureRect</key>
                <string>{{403,983},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BJMenuTexture.png</string>
            <key>size</key>
            <string>{1200,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8171e59edc5b25e24ca6eb82ca28e57d:dba5f1302f13fd352782c390887ae8b6:aa0d504fc24bfcf6bf16b3437e45add7$</string>
            <key>textureFileName</key>
            <string>BJMenuTexture.png</string>
        </dict>
    </dict>
</plist>
