<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_Bottom_menu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,168}</string>
                <key>spriteSourceSize</key>
                <string>{30,168}</string>
                <key>textureRect</key>
                <string>{{250,0},{30,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Electric_Panel_LuckyDraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,388}</string>
                <key>spriteSourceSize</key>
                <string>{543,388}</string>
                <key>textureRect</key>
                <string>{{719,275},{543,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adsspin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,209}</string>
                <key>spriteSourceSize</key>
                <string>{209,209}</string>
                <key>textureRect</key>
                <string>{{561,0},{209,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>border_electric_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,648}</string>
                <key>spriteSourceSize</key>
                <string>{404,648}</string>
                <key>textureRect</key>
                <string>{{0,551},{404,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>border_electric_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,376}</string>
                <key>spriteSourceSize</key>
                <string>{281,376}</string>
                <key>textureRect</key>
                <string>{{1360,0},{281,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electric_panel_L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,647}</string>
                <key>spriteSourceSize</key>
                <string>{432,647}</string>
                <key>textureRect</key>
                <string>{{649,673},{432,647}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electric_panel_M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,377}</string>
                <key>spriteSourceSize</key>
                <string>{317,377}</string>
                <key>textureRect</key>
                <string>{{0,31},{317,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,827}</string>
                <key>spriteSourceSize</key>
                <string>{792,827}</string>
                <key>textureRect</key>
                <string>{{674,1251},{792,827}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,141}</string>
                <key>spriteSourceSize</key>
                <string>{105,141}</string>
                <key>textureRect</key>
                <string>{{419,0},{105,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask_L_electric.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,636}</string>
                <key>spriteSourceSize</key>
                <string>{390,636}</string>
                <key>textureRect</key>
                <string>{{1263,282},{390,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask_M_electric.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,374}</string>
                <key>spriteSourceSize</key>
                <string>{274,374}</string>
                <key>textureRect</key>
                <string>{{985,0},{274,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,600}</string>
                <key>spriteSourceSize</key>
                <string>{577,600}</string>
                <key>textureRect</key>
                <string>{{1297,673},{577,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nell_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{340,340}</string>
                <key>textureRect</key>
                <string>{{378,210},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>newspin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,212}</string>
                <key>spriteSourceSize</key>
                <string>{213,212}</string>
                <key>textureRect</key>
                <string>{{771,0},{213,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,249}</string>
                <key>spriteSourceSize</key>
                <string>{6,249}</string>
                <key>textureRect</key>
                <string>{{0,0},{6,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel_content.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,672}</string>
                <key>spriteSourceSize</key>
                <string>{673,672}</string>
                <key>textureRect</key>
                <string>{{0,1106},{673,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BJWheelTexture.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b79bea6d7858dd11163be02d5e3851b5:e96de50541bdb0084623724e1844d0f0:75b532938584d022132f0842dd650608$</string>
            <key>textureFileName</key>
            <string>BJWheelTexture.png</string>
        </dict>
    </dict>
</plist>
