<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,67}</string>
                <key>spriteSourceSize</key>
                <string>{96,67}</string>
                <key>textureRect</key>
                <string>{{398,923},{96,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2nd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,61}</string>
                <key>spriteSourceSize</key>
                <string>{93,61}</string>
                <key>textureRect</key>
                <string>{{692,959},{93,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3rd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,52}</string>
                <key>spriteSourceSize</key>
                <string>{89,52}</string>
                <key>textureRect</key>
                <string>{{598,877},{89,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AvatarDefault.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{213,978},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_Bottom_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,168}</string>
                <key>spriteSourceSize</key>
                <string>{400,168}</string>
                <key>textureRect</key>
                <string>{{0,390},{400,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_Bottom_menu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,168}</string>
                <key>spriteSourceSize</key>
                <string>{30,168}</string>
                <key>textureRect</key>
                <string>{{0,1030},{30,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BG_Button_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,121}</string>
                <key>spriteSourceSize</key>
                <string>{80,121}</string>
                <key>textureRect</key>
                <string>{{317,873},{80,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,75}</string>
                <key>spriteSourceSize</key>
                <string>{125,75}</string>
                <key>textureRect</key>
                <string>{{371,766},{125,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Casual_Panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,389}</string>
                <key>spriteSourceSize</key>
                <string>{429,389}</string>
                <key>textureRect</key>
                <string>{{0,0},{429,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DailyBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,137}</string>
                <key>spriteSourceSize</key>
                <string>{121,137}</string>
                <key>textureRect</key>
                <string>{{918,487},{121,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Event_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,151}</string>
                <key>spriteSourceSize</key>
                <string>{133,151}</string>
                <key>textureRect</key>
                <string>{{635,605},{133,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_TimeColdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,41}</string>
                <key>textureRect</key>
                <string>{{1054,389},{72,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,116}</string>
                <key>spriteSourceSize</key>
                <string>{209,116}</string>
                <key>textureRect</key>
                <string>{{425,649},{209,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mini_Poker_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{917,609},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>READY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,96}</string>
                <key>spriteSourceSize</key>
                <string>{282,96}</string>
                <key>textureRect</key>
                <string>{{430,351},{282,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Reddot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1050,609},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Toogle_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,81}</string>
                <key>spriteSourceSize</key>
                <string>{252,81}</string>
                <key>textureRect</key>
                <string>{{430,269},{252,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>User_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{314,995},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audioOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{497,766},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>audioOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,991},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_blue_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,114}</string>
                <key>spriteSourceSize</key>
                <string>{10,114}</string>
                <key>textureRect</key>
                <string>{{769,746},{10,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1050,660},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_square_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{1013,744},{81,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{754,1035},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{805,1035},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_CollectChips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,114}</string>
                <key>spriteSourceSize</key>
                <string>{358,114}</string>
                <key>textureRect</key>
                <string>{{698,0},{358,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_CollectChips_deactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,114}</string>
                <key>spriteSourceSize</key>
                <string>{358,114}</string>
                <key>textureRect</key>
                <string>{{698,115},{358,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_GetChips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,114}</string>
                <key>spriteSourceSize</key>
                <string>{358,114}</string>
                <key>textureRect</key>
                <string>{{698,230},{358,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{752,858},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{148,108}</string>
                <key>textureRect</key>
                <string>{{222,764},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{754,954},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{856,1021},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{169,1030},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{407,390},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exitRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{497,867},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{835,956},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{907,1021},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{598,766},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Infomation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,99}</string>
                <key>spriteSourceSize</key>
                <string>{75,99}</string>
                <key>textureRect</key>
                <string>{{841,757},{75,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,150}</string>
                <key>spriteSourceSize</key>
                <string>{147,150}</string>
                <key>textureRect</key>
                <string>{{769,595},{147,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ads.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,127}</string>
                <key>spriteSourceSize</key>
                <string>{141,127}</string>
                <key>textureRect</key>
                <string>{{926,345},{141,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{98,80}</string>
                <key>textureRect</key>
                <string>{{398,842},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{848,857},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{929,840},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{98,80}</string>
                <key>textureRect</key>
                <string>{{611,967},{98,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{917,744},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,148}</string>
                <key>spriteSourceSize</key>
                <string>{155,148}</string>
                <key>textureRect</key>
                <string>{{762,446},{155,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{900,956},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,156}</string>
                <key>spriteSourceSize</key>
                <string>{135,156}</string>
                <key>textureRect</key>
                <string>{{626,448},{135,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,257}</string>
                <key>spriteSourceSize</key>
                <string>{221,257}</string>
                <key>textureRect</key>
                <string>{{0,559},{221,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,202}</string>
                <key>spriteSourceSize</key>
                <string>{204,202}</string>
                <key>textureRect</key>
                <string>{{222,559},{204,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{510,968},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_rank_me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{639,757},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,5}</string>
                <key>spriteSourceSize</key>
                <string>{153,5}</string>
                <key>textureRect</key>
                <string>{{401,390},{153,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,153}</string>
                <key>spriteSourceSize</key>
                <string>{5,153}</string>
                <key>textureRect</key>
                <string>{{1091,0},{5,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{651,858},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,30}</string>
                <key>spriteSourceSize</key>
                <string>{125,30}</string>
                <key>textureRect</key>
                <string>{{0,1061},{125,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orange_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{965,1004},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1013,826},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,33}</string>
                <key>spriteSourceSize</key>
                <string>{388,33}</string>
                <key>textureRect</key>
                <string>{{1057,0},{388,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_AvatarBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{740,757},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_AvatarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,268}</string>
                <key>spriteSourceSize</key>
                <string>{267,268}</string>
                <key>textureRect</key>
                <string>{{430,0},{267,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_Frame_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{103,104}</string>
                <key>textureRect</key>
                <string>{{213,873},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sync_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{965,939},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toogle_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,100}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{713,345},{212,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_bg_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{212,212}</string>
                <key>textureRect</key>
                <string>{{0,817},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{425,448},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MenuTexture.png</string>
            <key>size</key>
            <string>{1100,1100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:295ae0ac033d5b784d88075a538fe7ba:4f99fc347f5e1b24ecd37ab2723e1688:7d8953ada9ab08dd99ddef5915b39674$</string>
            <key>textureFileName</key>
            <string>MenuTexture.png</string>
        </dict>
    </dict>
</plist>
