<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar-TimeProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{648,975},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_Bottom_menu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,168}</string>
                <key>spriteSourceSize</key>
                <string>{30,168}</string>
                <key>textureRect</key>
                <string>{{1233,1},{30,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,75}</string>
                <key>spriteSourceSize</key>
                <string>{125,75}</string>
                <key>textureRect</key>
                <string>{{910,325},{125,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Cashier_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,204}</string>
                <key>spriteSourceSize</key>
                <string>{479,204}</string>
                <key>textureRect</key>
                <string>{{16,285},{479,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,44}</string>
                <key>spriteSourceSize</key>
                <string>{73,44}</string>
                <key>textureRect</key>
                <string>{{952,1251},{73,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Electric_Panel_DailyBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,272}</string>
                <key>spriteSourceSize</key>
                <string>{380,272}</string>
                <key>textureRect</key>
                <string>{{16,492},{380,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{534,1215},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_Aggression.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,68}</string>
                <key>spriteSourceSize</key>
                <string>{55,68}</string>
                <key>textureRect</key>
                <string>{{1052,1244},{55,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_HandWon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{1164,835},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JACKPOT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,106}</string>
                <key>spriteSourceSize</key>
                <string>{340,106}</string>
                <key>textureRect</key>
                <string>{{502,736},{340,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Loyalty_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,206}</string>
                <key>spriteSourceSize</key>
                <string>{492,206}</string>
                <key>textureRect</key>
                <string>{{16,76},{492,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PackageChips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{267,1114},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Progress_bar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,41}</string>
                <key>spriteSourceSize</key>
                <string>{906,41}</string>
                <key>textureRect</key>
                <string>{{16,1},{906,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Progress_bar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{885,28}</string>
                <key>spriteSourceSize</key>
                <string>{885,28}</string>
                <key>textureRect</key>
                <string>{{16,45},{885,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,150}</string>
                <key>spriteSourceSize</key>
                <string>{31,150}</string>
                <key>textureRect</key>
                <string>{{1266,1},{31,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Side_Popup_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,1080}</string>
                <key>spriteSourceSize</key>
                <string>{12,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{12,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Toogle_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,100}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{855,770},{212,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Toogle_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,100}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{851,985},{212,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,81}</string>
                <key>spriteSourceSize</key>
                <string>{189,81}</string>
                <key>textureRect</key>
                <string>{{450,1099},{189,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{648,736},{28,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrowDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1132,322},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_MiniPoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,112}</string>
                <key>spriteSourceSize</key>
                <string>{344,112}</string>
                <key>textureRect</key>
                <string>{{286,767},{344,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_blue_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,114}</string>
                <key>spriteSourceSize</key>
                <string>{10,114}</string>
                <key>textureRect</key>
                <string>{{16,1059},{10,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1235,440},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shop_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,468}</string>
                <key>spriteSourceSize</key>
                <string>{142,468}</string>
                <key>textureRect</key>
                <string>{{511,76},{142,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_square_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{595,1212},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{925,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{954,1153},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mini_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1061,867},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mini_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1159,906},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,108}</string>
                <key>spriteSourceSize</key>
                <string>{148,108}</string>
                <key>textureRect</key>
                <string>{{1071,211},{148,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{164,1274},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1150,1185},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{892,453},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{920,734},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1277,652},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb_Quest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{748,1178},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb_achivement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1132,425},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{920,528},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb_minipoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{920,631},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb_notification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1023,455},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1023,558},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eb_wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1126,528},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1235,493},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>highline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{952,282},{40,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_ads.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,127}</string>
                <key>spriteSourceSize</key>
                <string>{141,127}</string>
                <key>textureRect</key>
                <string>{{988,325},{141,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{98,80}</string>
                <key>textureRect</key>
                <string>{{851,1200},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{1164,734},{80,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,98}</string>
                <key>textureRect</key>
                <string>{{1159,1004},{80,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{98,80}</string>
                <key>textureRect</key>
                <string>{{1048,1063},{98,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{679,1212},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{16,1072},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1061,965},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_chips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{83,1072},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1235,172},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1052,1146},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_invite_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1023,661},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1150,1087},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1235,239},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_save.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1126,631},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1235,306},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1235,373},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,50}</string>
                <key>textureRect</key>
                <string>{{534,1079},{133,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_blur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,257}</string>
                <key>spriteSourceSize</key>
                <string>{221,257}</string>
                <key>textureRect</key>
                <string>{{696,510},{221,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaderboardsComplex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{958,764},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,202}</string>
                <key>spriteSourceSize</key>
                <string>{204,202}</string>
                <key>textureRect</key>
                <string>{{648,770},{204,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,153}</string>
                <key>spriteSourceSize</key>
                <string>{5,153}</string>
                <key>textureRect</key>
                <string>{{587,1079},{5,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_Progress_bar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,18}</string>
                <key>spriteSourceSize</key>
                <string>{400,18}</string>
                <key>textureRect</key>
                <string>{{611,736},{400,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini_Progress_bar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,13}</string>
                <key>spriteSourceSize</key>
                <string>{390,13}</string>
                <key>textureRect</key>
                <string>{{632,736},{390,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orange_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1229,546},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,40}</string>
                <key>spriteSourceSize</key>
                <string>{438,40}</string>
                <key>textureRect</key>
                <string>{{511,282},{438,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pull02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,150}</string>
                <key>spriteSourceSize</key>
                <string>{31,150}</string>
                <key>textureRect</key>
                <string>{{595,1178},{31,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>question.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{958,867},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_dot_metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1229,599},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_AvatarBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1061,764},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_AvatarFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,268}</string>
                <key>spriteSourceSize</key>
                <string>{267,268}</string>
                <key>textureRect</key>
                <string>{{16,767},{267,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_LP_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,91}</string>
                <key>spriteSourceSize</key>
                <string>{165,91}</string>
                <key>textureRect</key>
                <string>{{954,985},{165,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_NameFrameMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,124}</string>
                <key>spriteSourceSize</key>
                <string>{409,124}</string>
                <key>textureRect</key>
                <string>{{498,325},{409,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_balance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1229,652},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_dailybonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,294}</string>
                <key>spriteSourceSize</key>
                <string>{223,294}</string>
                <key>textureRect</key>
                <string>{{399,510},{223,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_profile_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,391}</string>
                <key>spriteSourceSize</key>
                <string>{55,391}</string>
                <key>textureRect</key>
                <string>{{498,452},{55,391}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_profile_stats_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,557}</string>
                <key>spriteSourceSize</key>
                <string>{58,557}</string>
                <key>textureRect</key>
                <string>{{511,221},{58,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_shop_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,248}</string>
                <key>spriteSourceSize</key>
                <string>{186,248}</string>
                <key>textureRect</key>
                <string>{{982,1},{186,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toogle_mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,100}</string>
                <key>spriteSourceSize</key>
                <string>{212,100}</string>
                <key>textureRect</key>
                <string>{{164,1059},{212,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toogle_msgbox_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,236}</string>
                <key>spriteSourceSize</key>
                <string>{18,236}</string>
                <key>textureRect</key>
                <string>{{982,190},{18,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toogle_msgbox_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,236}</string>
                <key>spriteSourceSize</key>
                <string>{18,236}</string>
                <key>textureRect</key>
                <string>{{16,1038},{18,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>toogle_profile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,98}</string>
                <key>spriteSourceSize</key>
                <string>{360,98}</string>
                <key>textureRect</key>
                <string>{{401,736},{360,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winner_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1139},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PopupGameTexture.png</string>
            <key>size</key>
            <string>{1300,1300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d54942407d35c141532e6fcf006b8771:34d87c693abc8200b30f9e091702da7b:86bbad9c9121c33876609d2c4f27759d$</string>
            <key>textureFileName</key>
            <string>PopupGameTexture.png</string>
        </dict>
    </dict>
</plist>
