<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,75}</string>
                <key>spriteSourceSize</key>
                <string>{125,75}</string>
                <key>textureRect</key>
                <string>{{504,920},{125,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Progress_bar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,41}</string>
                <key>spriteSourceSize</key>
                <string>{906,41}</string>
                <key>textureRect</key>
                <string>{{1,1277},{906,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Progress_bar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{885,28}</string>
                <key>spriteSourceSize</key>
                <string>{885,28}</string>
                <key>textureRect</key>
                <string>{{1056,417},{885,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,540}</string>
                <key>spriteSourceSize</key>
                <string>{960,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{960,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_opacity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{504,1096},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{504,998},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle-loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{786,1000},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{964,417},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1288,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_light_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{998,43}</string>
                <key>spriteSourceSize</key>
                <string>{998,43}</string>
                <key>textureRect</key>
                <string>{{1,1231},{998,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_PlayFirsthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,181}</string>
                <key>spriteSourceSize</key>
                <string>{181,181}</string>
                <key>textureRect</key>
                <string>{{602,1000},{181,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Play_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,231}</string>
                <key>spriteSourceSize</key>
                <string>{500,231}</string>
                <key>textureRect</key>
                <string>{{1,920},{500,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,453}</string>
                <key>spriteSourceSize</key>
                <string>{405,453}</string>
                <key>textureRect</key>
                <string>{{648,544},{405,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,413}</string>
                <key>spriteSourceSize</key>
                <string>{321,413}</string>
                <key>textureRect</key>
                <string>{{964,1},{321,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>showdown_hand_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,74}</string>
                <key>spriteSourceSize</key>
                <string>{528,74}</string>
                <key>textureRect</key>
                <string>{{1,1154},{528,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signin_apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,76}</string>
                <key>spriteSourceSize</key>
                <string>{424,76}</string>
                <key>textureRect</key>
                <string>{{1087,865},{424,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_Down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,95}</string>
                <key>spriteSourceSize</key>
                <string>{445,95}</string>
                <key>textureRect</key>
                <string>{{1087,417},{445,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_Show.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,95}</string>
                <key>spriteSourceSize</key>
                <string>{441,95}</string>
                <key>textureRect</key>
                <string>{{1185,417},{441,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,373}</string>
                <key>spriteSourceSize</key>
                <string>{644,373}</string>
                <key>textureRect</key>
                <string>{{1,544},{644,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TextureLoading.png</string>
            <key>size</key>
            <string>{1320,1320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13fbe7419aab39421dcf9ad283f42c94:dc847e773c75bf502286536c63d538f3:296488c5d44acf84893d7944ed9ae070$</string>
            <key>textureFileName</key>
            <string>TextureLoading.png</string>
        </dict>
    </dict>
</plist>
